In [1]:
grid_size = 5
start_lat = 35.951225
start_lon = 126.677630592098

end_lat = 35.94053805
end_lon = 126.689017999998


result = (end_lon - start_lon) / grid_size
result1 = (start_lat - end_lat) / grid_size

In [2]:
x = []
y = []
x.append(start_lon)
y.append(start_lat)
for i in range(grid_size):
    x.append(x[i] + result)
    y.append(y[i] - result1)
print(x)
print(y)

[126.677630592098, 126.67990807367799, 126.68218555525799, 126.68446303683798, 126.68674051841798, 126.68901799999797]
[35.951225, 35.94908761, 35.94695022, 35.94481283, 35.942675439999995, 35.940538049999994]

In [3]:
import pymssql
from math import *
import pandas as pd
import numpy as np 

# DB 서버 주소
server = '203.234.62.143'
# 데이터 베이스 이름
database = 'DSEM-Traj2018'
# 접속 유저명
username = 'sojin'
# 접속 유저 패스워드
password = '1234'

conn = pymssql.connect(server , username, password, database)
curs = conn.cursor()

#curs.execute()

#sql = 'SELECT TOP (1000) *  FROM lifelog_manual order by time asc'
sql = "SELECT *  FROM lifelog_manual where userid='GAH0001' order by time asc"

df1 = pd.read_sql(sql, con = conn)

sql = "SELECT *  FROM lifelog_manual where userid='GAH0002' order by time asc"

df2 = pd.read_sql(sql, con = conn)

sql = "SELECT *  FROM lifelog_manual where userid='GAH0003' order by time asc"

df3 = pd.read_sql(sql, con = conn)

conn.close()

In [4]:
df1

,id,userid,time,set_id,set_seq,x,y,z,HR,lat,lon,alt,acttype,actaccu
0,26,GAH0001,2018-07-11 23:15:56,GAH0001-2018-07-11-0000001,1,0.270636,-0.729696,0.032239,0,35.945528,126.683223,0.000000,unknown,unknown
1,29,GAH0001,2018-07-11 23:16:11,GAH0001-2018-07-11-0000001,2,0.231820,3.563033,-1.975855,81,35.945509,126.683209,0.000000,unknown,unknown
2,32,GAH0001,2018-07-11 23:16:26,GAH0001-2018-07-11-0000001,3,1.265328,2.628004,-2.712451,83,35.945468,126.683178,0.000000,unknown,unknown
3,35,GAH0001,2018-07-11 23:16:41,GAH0001-2018-07-11-0000001,4,2.022355,0.403581,2.095118,92,35.945465,126.683176,0.000000,unknown,unknown
4,39,GAH0001,2018-07-11 23:17:01,GAH0001-2018-07-11-0000001,5,4.157377,0.633944,3.052400,91,35.945466,126.683177,0.000000,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19455,2719412,GAH0001,2018-12-31 21:44:24,GAH0001-2018-12-31-0000002,114,-4.720439,2.800884,-0.560862,117,35.945177,126.686172,41.349507,WALKING,HIGH
19456,2719413,GAH0001,2018-12-31 21:44:29,GAH0001-2018-12-31-0000002,115,-0.445301,-0.524375,0.062706,121,35.945191,126.686260,41.352353,WALKING,HIGH
19457,2719414,GAH0001,2018-12-31 21:44:34,GAH0001-2018-12-31-0000002,116,-3.727133,2.830874,-1.449417,121,35.945230,126.686277,41.352999,WALKING,HIGH
19458,2719415,GAH0001,2018-12-31 21:44:39,GAH0001-2018-12-31-0000002,117,-4.037821,-0.753595,-5.199213,124,35.945251,126.686210,41.354387,WALKING,HIGH
19459,2719416,GAH0001,2018-12-31 21:44:44,GAH0001-2018-12-31-0000002,118,-0.972808,5.140090,0.248490,122,35.945303,126.686218,41.354601,WALKING,HIGH

In [5]:
patten1 = []

for i in range(len(df1)):
    for k in range(grid_size):
        for j in range(grid_size):
            if x[j] <=  df1['lon'][i] <= x[j+1] and y[k+1] <=  df1['lat'][i] <= y[k]:
                patten1.append( grid_size*k + j+1)

In [6]:
new_patten1 = []

for i in patten1:
    if i not in new_patten1:
        new_patten1.append(i)

print(new_patten1)

[13, 14, 9, 4, 18, 8, 3, 15, 12, 19, 20, 10, 17, 7, 22, 24, 23]

In [7]:
all_patten1 = []

for i in range(len(new_patten1)):
    if i == len(new_patten1)-2:
        break
    else:
        p = [new_patten1[i], new_patten1[i+1], new_patten1[i+2]]
        all_patten1.append(p)

In [8]:
all_patten1

[[13, 14, 9],
 [14, 9, 4],
 [9, 4, 18],
 [4, 18, 8],
 [18, 8, 3],
 [8, 3, 15],
 [3, 15, 12],
 [15, 12, 19],
 [12, 19, 20],
 [19, 20, 10],
 [20, 10, 17],
 [10, 17, 7],
 [17, 7, 22],
 [7, 22, 24],
 [22, 24, 23]]

In [9]:
patten2 = []

for i in range(len(df2)):
    for k in range(grid_size):
        for j in range(grid_size):
            if x[j] <=  df2['lon'][i] <= x[j+1] and y[k+1] <=  df2['lat'][i] <= y[k]:
                patten2.append( grid_size*k + j+1)

In [10]:
new_patten2 = []

for i in patten2:
    if i not in new_patten2:
        new_patten2.append(i)

print(new_patten2)

[14, 13, 18, 19, 20, 8, 3, 15, 9, 24, 12, 7, 10, 4, 25, 23, 11, 16, 17, 6, 22]

In [11]:
all_patten2 = []

for i in range(len(new_patten2)):
    if i == len(new_patten2)-2:
        break
    else:
        p = [new_patten2[i], new_patten2[i+1], new_patten2[i+2]]
        all_patten2.append(p)

In [12]:
all_patten2

[[14, 13, 18],
 [13, 18, 19],
 [18, 19, 20],
 [19, 20, 8],
 [20, 8, 3],
 [8, 3, 15],
 [3, 15, 9],
 [15, 9, 24],
 [9, 24, 12],
 [24, 12, 7],
 [12, 7, 10],
 [7, 10, 4],
 [10, 4, 25],
 [4, 25, 23],
 [25, 23, 11],
 [23, 11, 16],
 [11, 16, 17],
 [16, 17, 6],
 [17, 6, 22]]

In [14]:
all_patten1[0]

[13, 14, 9]

In [20]:
cnt = 0
sim = []
for i in range(len(all_patten1)):
    cnt = 0
    for j in range(len(all_patten2)):
        if sorted(all_patten1[i]) == sorted(all_patten2[j]):
            cnt+=1
    sim.append(cnt)

In [21]:
sim

[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
patten3 = []

for i in range(len(df3)):
    for k in range(grid_size):
        for j in range(grid_size):
            if x[j] <=  df3['lon'][i] <= x[j+1] and y[k+1] <=  df3['lat'][i] <= y[k]:
                patten3.append( grid_size*k + j+1)
                
new_patten3 = []

for i in patten3:
    if i not in new_patten3:
        new_patten3.append(i)

all_patten3 = []

for i in range(len(new_patten3)):
    if i == len(new_patten3)-2:
        break
    else:
        p = [new_patten3[i], new_patten3[i+1], new_patten3[i+2]]
        all_patten3.append(p)

In [23]:
all_patten3

[[13, 14, 18],
 [14, 18, 8],
 [18, 8, 3],
 [8, 3, 9],
 [3, 9, 15],
 [9, 15, 4],
 [15, 4, 10],
 [4, 10, 20],
 [10, 20, 19],
 [20, 19, 17],
 [19, 17, 12],
 [17, 12, 24],
 [12, 24, 7],
 [24, 7, 22],
 [7, 22, 21],
 [22, 21, 25],
 [21, 25, 5],
 [25, 5, 23]]

In [24]:
cnt = 0
sim = []
for i in range(len(all_patten1)):
    cnt = 0
    for j in range(len(all_patten3)):
        if sorted(all_patten1[i]) == sorted(all_patten3[j]):
            cnt+=1
    sim.append(cnt)

In [25]:
sim

[0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0]